<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="TP">
        <h1>Fecap's Airline</h1>
    </div>
    <hr>
    <div class="bg_P">
        <div class="box">
            <div TH>
                <a href="/">Menu</a>
                <a href="/curso">Curso</a>
                <a href="/agendamento">Agendamento</a>
                <a href="/usuario">Usuario</a>
            </div>
    </div>
        <img src="{{ url_for('static', filename='imagens/av_b.jpeg') }}" alt="av_b">
    </div>
</body>
</html>