<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="TP">
        <h1>Fecap's Airline</h1>
    </div>
    <hr>
    <div class="bg_P">
        <div class="box">
            <div TH>
                <a href="/">Menu</a>
                <a href="/curso">Curso</a>
                <a href="/agendamento">Agendamento</a>
                <a href="/usuario">Usuario</a>
            </div>
    </div>
</div>
<div class="info">
    <div class="bg_input">
        <br>
        <label for="">Nome Completo:</label>
        <input type="text">
        <br>
        <label for="">Data de Nascimento:</label>
        <input type="date">
        <br>
        <label for="">Email:</label>
        <input type="text">
        <br>
        <label for="">Telefone:</label>
        <input type="number">
    </div>
</div>
</body>
</html>